<html>
    <head>
        <link href="styles.css" rel="stylesheet" />
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </head>

<body>

<div class="theme-light">
    <div style="padding: 20px 30px 0px;">
        <div class="align-items-center justify-content-sm-center row">
            <div class="text-center-sm col-12 col-sm-7 col-md-5 col-lg-4">
                <a href="/">
                    <div class="padding-none text-center-xs col-12 col-sm-12 col-md-11 col-lg-11">
                        <img src="./public/hodlinfo_logo.png" class="fiat-logo" style="padding: 10px;" />
                            </div>
                            </a>
                            <p class="col-12 text-center-xs" style="font-family: Oswald, sans-serif; margin-top: -18px; opacity: 0.8; font-size: 18px; color: gray;">
                    Powered By
                                <a class="footer-text-link" rel="nofollow" target="_blank" href="https://www.finstreet.in/" style="color: rgb(61, 198, 193);">
                        Finstreet
                                     </a>
                                     </p>
                                     </div>
                                     <div class="text-center padding-none col-12 col-sm-12 col-md-2 col-lg-4">
                                         <div class="btn-group">
                                             <button type="button" aria-haspopup="true" aria-expanded="false" class="header-button dropdown-toggle btn btn-secondary">INR
                                                 </button>
                                                 <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                                                     <a value="INR" tabindex="0" role="menuitem" class="dropdown-item" href="/ETH-INR"> INR
                                                         </a>
                                                         </div>
                                                         </div>
                                                         <div class="btn-group">
                                                             <button type="button" aria-haspopup="true" aria-expanded="false" class="header-button dropdown-toggle btn btn-secondary"> ETH
                                                                 </button>
                                                                 <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                                                                     <a value="BTC" tabindex="0" role="menuitem" class="dropdown-item" href="/BTC-INR"> BTC </a>
                                                                          <a value="ETH" tabindex="0" role="menuitem" class="dropdown-item" href="/ETH-INR"> ETH </a>
                                                                             <a value="USDT" tabindex="0" role="menuitem" class="dropdown-item" href="/USDT-INR"> USDT </a>
                                                                                 <a value="XRP" tabindex="0" role="menuitem" class="dropdown-item" href="/XRP-INR">XRP</a>
                                                                                 <a value="TRX" tabindex="0" role="menuitem" class="dropdown-item" href="/TRX-INR">TRX</a>
                                                                                 <a value="DASH" tabindex="0" role="menuitem" class="dropdown-item" href="/DASH-INR">DASH</a>
                                                                                 <a value="ZEC" tabindex="0" role="menuitem" class="dropdown-item" href="/ZEC-INR">ZEC</a>
                                                                                 <a value="XEM" tabindex="0" role="menuitem" class="dropdown-item" href="/XEM-INR">XEM</a>
                                                                                 <a value="IOST" tabindex="0" role="menuitem" class="dropdown-item" href="/IOST-INR">IOST</a>
                                                                                 <a value="WIN" tabindex="0" role="menuitem" class="dropdown-item" href="/WIN-INR">WIN</a>
                                                                                 <a value="BTT" tabindex="0" role="menuitem" class="dropdown-item" href="/BTT-INR">BTT</a>
                                                                                 <a value="WRX" tabindex="0" role="menuitem" class="dropdown-item" href="/WRX-INR">WRX</a>
                                                                                 </div>
                                                                                 </div>
                                                                                 <div class="btn-group"><a target="_blank" href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&amp;utm_medium=affiliate&amp;utm_campaign=regnow-btn" type="button" aria-haspopup="true" aria-expanded="false" class="header-button btn btn-secondary">BUY ETH</a>
                                                                                 </div>
                                                                                 </div>
                                                                                 <div class="right-header col-12 col-sm-12 col-md-5 col-lg-4">
                                                                                     <div class="d-inline-flex flex-wrap align-items-center justify-content-center">
      <a class="color-white" href="/connect/telegram">
      <div class="header-telegram-button">
      <div class="d-inline-block">
      <img src="./public/telegram.png" class="telegram-logo" /></div>
      <div class="text-nowrap d-inline-block color-white">Connect Telegram</div>
      </div>
      </a>
      <div class="margin-10 d-inline-block">
          <label class="switch"><input type="checkbox" checked="" />
              <span class="slider round"></span>
              </label>
              </div>
              </div>
              </div>
              </div>
              </div>
              <div class="padding-bottom-50">
                  <div class="Container-fluid " style="padding: 0px 30px;">
                      <div class="d-flex justify-content-around align-items-center average-header" style="padding: 10px 0px;">
                          <div class="text-center">
                              <div class="average-header-maintext color-green">0.47 %</div>
                              <div class="average-header-subHeading">5 Mins</div>
                              </div>
                              <div class="text-center">
                                  <div class="average-header-maintext color-green">0.98 %</div>
                                  <div class="average-header-subHeading">1 Hour</div>
                                     </div>
                                     <div style="max-width: 40%;">
                                         <div class="text-center font-32 average-block">
                        <div class="average-subText">
                            <span class="subText-heading">Best Price to Trade</span>
                        </div>
                        <div class="average-heading" style="padding-bottom: 10px;">₹ 1,67,334</div>
                        <div class="average-subText">Average ETH/INR net price including commission</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="average-header-maintext color-green">5.86 %</div>
                    <div class="average-header-subHeading">1 Day</div>
                    </div>
                    <div class="text-center">
                        <div class="average-header-maintext color-green">6.41 %</div>
                        <div class="average-header-subHeading">7 Days</div>
                        </div>
                        </div>
                        <a target="_blank" href="https://finstreet.in/">
                            <img src="./public/cryptonews.png" style="width: 100%; padding: 0px 0px 20px;" />
                                </a>
                                    </div>
                                    <div class="fiat-crypto-table table-responsive" style="margin: 0px auto;">
                                        <table class="table table-borderless text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <h4><span class="pointer">#</span></h4>
                                                        </th>
                                                        <th>
                                                            <h4><span class="pointer">Platform</span></h4>
                                                            </th>
                                                            <th>
                                                                <h4><span class="pointer">Last Traded Price</span></h4>
                                                                </th>
                                                                <th><h4><span class="pointer">Buy / Sell Price</span></h4>
                                                                </th>
                                                                <th><h4><span class="pointer">Difference</span></h4>
                                                                </th>
                        <th>
                            <h4><span class="pointer">Savings</span></h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle"><h4 class="table-text">1</h4></td>
                        <td class="align-middle"><a target="_blank" href="">
                            <h4 class="table-text"><img src="./public/wazix.png" class="exchange-logo"> <span class="exchange-name ">WazirX</span></h4>
                        </a></td><td class="align-middle"><h4 class="table-text">₹ 1,79,500</h4></td>
                        <td class="align-middle"><h4 class="table-text"><span>₹ 1,79,200 / ₹ 1,79,500</span></h4></td>
                        <td class="align-middle"><h4 class="table-text color-green">7.27 %</h4></td>
                        <td class="align-middle"><h4 class="table-text color-green">▲ ₹ 12,165</h4></td>
                    </tr>
                    <tr><td class="align-middle"><h4 class="table-text">2</h4></td>
                        <td class="align-middle"><a target="_blank" href="https://bit.ly/2BJxccc">
                            <h4 class="table-text">
                                <img src="./public/bitbns.png" class="exchange-logo" />
                                <span class="exchange-name ">Bitbns</span>
                            </h4></a></td>
                            <td class="align-middle"><h4 class="table-text">₹ 1,76,875</h4></td>
                            <td class="align-middle"><h4 class="table-text"><span>₹ 1,75,745 / ₹ 1,76,801</span></h4></td>
                            <td class="align-middle"><h4 class="table-text color-green">5.70 %</h4></td>
                            <td class="align-middle"><h4 class="table-text color-green">▲ ₹ 9,540</h4></td>
                                </tr><tr><td class="align-middle"><h4 class="table-text">3</h4></td>
                                <td class="align-middle"><a target="_blank" href=" "><h4 class="table-text">
                                    <img src="./public/giotus.png" class="exchange-logo"/><span class="exchange-name ">Giotus</span></h4></a></td>
                                <td class="align-middle"><h4 class="table-text">₹ 1,79,000</h4></td><td class="align-middle"><h4 class="table-text"><span>₹ 1,78,010 / ₹ 1,79,000</span></h4></td>
                                <td class="align-middle"><h4 class="table-text color-green">6.97 %</h4></td>
                                <td class="align-middle"><h4 class="table-text color-green">▲ ₹ 11,665</h4></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"><h4 class="table-text">4</h4></td>
                                <td class="align-middle"><a target="_blank" href=" "><h4 class="table-text">
                                    <img src="./public/colodax.png" class="exchange-logo" /><span class="exchange-name ">Colodax</span></h4></a></td>
                                <td class="align-middle"><h4 class="table-text">₹ 1,08,675</h4></td>
                                <td class="align-middle"><h4 class="table-text"><span>₹ 1,08,675 / ₹ 1,10,469</span></h4></td>
                                <td class="align-middle"><h4 class="table-text color-red">-35.06 %</h4></td>
                                <td class="align-middle"><h4 class="table-text color-red">▼ ₹ 58,659</h4></td>
                                </tr>
                                <tr>
                                    <td class="align-middle"><h4 class="table-text">5</h4></td>
                                    <td class="align-middle"><a target="_blank" href=" "><h4 class="table-text">
                                        <img src="./public/zebpay.png" class="exchange-logo"/><span class="exchange-name ">Zebpay</span></h4></a></td>
                                    <td class="align-middle"><h4 class="table-text">₹ 1,82,000</h4></td>
                                    <td class="align-middle"><h4 class="table-text"><span>₹ 1,82,200 / ₹ 1,82,000</span></h4></td>
                                    <td class="align-middle"><h4 class="table-text color-green">8.76 %</h4></td>
                                    <td class="align-middle"><h4 class="table-text color-green">▲ ₹ 14,665</h4></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><h4 class="table-text">6</h4></td>
                                        <td class="align-middle"><a target="_blank" href=" "><h4 class="table-text">
                                            <img src="./public/coibdcx.png" class="exchange-logo"/><span class="exchange-name ">CoinDCX</span></h4></a></td>
                                        <td class="align-middle"><h4 class="table-text">₹ 1,77,959</h4></td>
                                        <td class="align-middle"><h4 class="table-text"><span>₹ 1,77,959 / ₹ 1,78,763</span></h4></td>
                                        <td class="align-middle"><h4 class="table-text color-green">6.35 %</h4></td>
                                        <td class="align-middle"><h4 class="table-text color-green">▲ ₹ 10,624</h4></td>
                                        </tr>
                                        </tr>
                                        </tbody>
                                        </table>
                                        </div>
                                        <div class="padding-header" style="padding: 20px;">
                                            <a target="_blank" href="https://ftx.com/#a=finstreet">
                                                <img src="./public/BannerFTXNews.png" style="width: 100%;"/></a>
                                            </div>
                                            </div>
                                            <div class="footer">
                                                <div class="d-flex align-items-center text-center">
                                                    <div class="footer-text"> Copyright © 2019</div>
                                                    <div class="footer-text">HodlInfo.com</div>
                                                    <div class="footer-text">Developed By QuadBTech</div>
                                                    <div class="footer-text pointer" style="margin-left: auto;">
                                                        <a href="mailto:support@hodlinfo.com" class="footer-text-link">Support</a>
                                                        </div>
                                                        </div>
                                                        </div>
                            </div>

</body>
</html>